In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("ipl.csv")

In [4]:
df.head()

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,batsman_runs,extras,isWide,isNoBall,Byes,LegByes,Penalty,dismissal_kind,player_dismissed,date
0,335982,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,0,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2008-04-18
1,335982,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
2,335982,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
3,335982,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
4,335982,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18

In [5]:
df.tail()

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,batsman_runs,extras,isWide,isNoBall,Byes,LegByes,Penalty,dismissal_kind,player_dismissed,date
260915,1426312,2,9.5,9,5,Kolkata Knight Riders,Sunrisers Hyderabad,SS Iyer,VR Iyer,AK Markram,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-26
260916,1426312,2,9.6,9,6,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,AK Markram,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-26
260917,1426312,2,10.1,10,1,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,Shahbaz Ahmed,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-26
260918,1426312,2,10.2,10,2,Kolkata Knight Riders,Sunrisers Hyderabad,SS Iyer,VR Iyer,Shahbaz Ahmed,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-26
260919,1426312,2,10.3,10,3,Kolkata Knight Riders,Sunrisers Hyderabad,VR Iyer,SS Iyer,Shahbaz Ahmed,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-26

In [6]:
# Most deliveries bowled

df["bowler"].value_counts().head(10)

bowler
R Ashwin           4679
SP Narine          4146
B Kumar            4060
PP Chawla          3895
RA Jadeja          3895
YS Chahal          3628
Harbhajan Singh    3496
A Mishra           3444
DJ Bravo           3296
UT Yadav           3190
Name: count, dtype: int64

In [7]:
# Most deliveries faced

df["batsman"].value_counts().head(10)

batsman
V Kohli       6236
S Dhawan      5483
RG Sharma     5183
DA Warner     4849
SK Raina      4177
MS Dhoni      3947
RV Uthappa    3927
AM Rahane     3858
KD Karthik    3687
KL Rahul      3578
Name: count, dtype: int64

In [8]:
# Most deliveries at Non-Striker end

df["non_striker"].value_counts().head(10)

non_striker
V Kohli         6067
S Dhawan        5942
RG Sharma       5271
DA Warner       4677
SK Raina        4309
AM Rahane       4164
F du Plessis    3905
RV Uthappa      3776
KL Rahul        3763
G Gambhir       3740
Name: count, dtype: int64

In [9]:
# Most runs scored

df.groupby("batsman")["batsman_runs"].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           8014
S Dhawan          6769
RG Sharma         6630
DA Warner         6567
SK Raina          5536
MS Dhoni          5243
AB de Villiers    5181
CH Gayle          4997
RV Uthappa        4954
KD Karthik        4843
Name: batsman_runs, dtype: int64

In [10]:
#Most wickets Taken 

df["IsWicket"] = df["player_dismissed"].apply(lambda x: 0 if pd.isnull(x) else 1)
df.groupby("bowler")["IsWicket"].sum().sort_values(ascending=False).head(10)

bowler
YS Chahal     213
DJ Bravo      207
PP Chawla     201
SP Narine     200
R Ashwin      198
B Kumar       195
SL Malinga    188
A Mishra      183
JJ Bumrah     182
RA Jadeja     169
Name: IsWicket, dtype: int64

In [11]:
# Most runs in each over

for i in range(1,21):
    print(df[df["over"]==i].groupby("batsman")["batsman_runs"].sum().sort_values(ascending=False).head(1).reset_index().to_string(index=False))

 batsman  batsman_runs
S Dhawan           618
 batsman  batsman_runs
S Dhawan           688
 batsman  batsman_runs
S Dhawan           558
  batsman  batsman_runs
DA Warner           607
  batsman  batsman_runs
DA Warner           559
batsman  batsman_runs
V Kohli           369
batsman  batsman_runs
V Kohli           436
batsman  batsman_runs
V Kohli           439
batsman  batsman_runs
V Kohli           456
batsman  batsman_runs
V Kohli           424
batsman  batsman_runs
V Kohli           456
batsman  batsman_runs
V Kohli           415
   batsman  batsman_runs
KD Karthik           455
 batsman  batsman_runs
MS Dhoni           452
 batsman  batsman_runs
MS Dhoni           506
 batsman  batsman_runs
MS Dhoni           612
 batsman  batsman_runs
MS Dhoni           664
 batsman  batsman_runs
MS Dhoni           696
 batsman  batsman_runs
MS Dhoni           814
Empty DataFrame
Columns: [batsman, batsman_runs]
Index: []

In [12]:
#Most runs of off each ball 

for i in range(1,7):
    print(df[df["ball"]==i].groupby("batsman")["batsman_runs"].sum().sort_values(ascending=False).head(1).reset_index())

   batsman  batsman_runs
0  V Kohli          1604
   batsman  batsman_runs
0  V Kohli          1365
   batsman  batsman_runs
0  V Kohli          1247
   batsman  batsman_runs
0  V Kohli          1257
   batsman  batsman_runs
0  V Kohli          1264
   batsman  batsman_runs
0  V Kohli          1089

In [13]:
# Most Time bowler dismissing a Batsman 

df[df["IsWicket"]==1].groupby(["bowler","batsman"])["IsWicket"].sum().sort_values(ascending=False).head(10)

bowler          batsman
SP Narine       RG Sharma     9
PP Ojha         MS Dhoni      7
A Mishra        RG Sharma     7
B Kumar         PA Patel      7
MM Sharma       AT Rayudu     7
R Ashwin        RV Uthappa    7
Sandeep Sharma  V Kohli       7
Z Khan          MS Dhoni      7
B Kumar         AM Rahane     7
JJ Bumrah       RR Pant       7
Name: IsWicket, dtype: int64

In [14]:
# Most Dismissal Types

df["dismissal_kind"].value_counts()

dismissal_kind
caught                   8063
bowled                   2212
run out                  1114
lbw                       800
caught and bowled         367
stumped                   358
retired hurt               15
hit wicket                 15
obstructing the field       3
retired out                 3
Name: count, dtype: int64

In [15]:
df["batsman_runs"] = df["batsman_runs"].fillna(0)
df.groupby("bowler")["batsman_runs"].sum() / (df.groupby("bowler")["batsman_runs"].count() / 6).sort_values(ascending=False).head(10)

bowler
A Ashish Reddy   NaN
A Badoni         NaN
A Chandila       NaN
A Choudhary      NaN
A Dananjaya      NaN
                  ..
Yash Dayal       NaN
Yash Thakur      NaN
Yudhvir Singh    NaN
Yuvraj Singh     NaN
Z Khan           NaN
Name: batsman_runs, Length: 531, dtype: float64

In [16]:
df["batsman_runs"].sum()

330064

In [17]:
temp = df.groupby("bowler")["batsman_runs"]
(temp.sum() / (temp.count() / 6)).sort_values(ascending=False).head(10)

bowler
YBK Jaiswal      36.000000
Atharva Taide    24.000000
I Malhotra       23.000000
LPC Silva        21.000000
B Chipli         20.000000
P Prasanth       18.000000
SN Khan          18.000000
RR Bhatkal       17.500000
CK Kapugedera    17.294118
S Sriram         16.333333
Name: batsman_runs, dtype: float64

In [18]:
# Highest Economy min 100 balls

economy = df.groupby("bowler")["batsman_runs"].agg(["sum", "count"])
economy = economy[economy["count"] > 100]
(economy["sum"] / (economy["count"] / 6)).sort_values(ascending=False).head(10)

bowler
R Shepherd             11.142857
P Amarnath             10.727273
Akash Deep             10.560000
S Narwal               10.353982
MJ Henry               10.171429
V Sehwag               10.130435
Arshad Khan            10.117647
Nithish Kumar Reddy    10.067797
KJ Abbott              10.000000
R Parag                 9.944751
dtype: float64

In [19]:
# Lowest Economy min 100 balls

economy = df.groupby("bowler")["batsman_runs"].agg(["sum", "count"])
economy = economy[economy["count"] > 100]
(economy["sum"] / (economy["count"] / 6)).sort_values(ascending=True).head(10)

bowler
Sohail Tanvir      5.569811
FH Edwards         5.760000
A Chandila         6.205128
M Muralitharan     6.231499
M Pathirana        6.250497
SW Tait            6.258427
A Kumble           6.268566
DW Steyn           6.326030
T Thushara         6.333333
SMSM Senanayake    6.338462
dtype: float64

In [20]:
df.columns

Index(['matchId', 'inning', 'over_ball', 'over', 'ball', 'batting_team',
       'bowling_team', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extras', 'isWide', 'isNoBall', 'Byes', 'LegByes', 'Penalty',
       'dismissal_kind', 'player_dismissed', 'date', 'IsWicket'],
      dtype='object')

In [21]:
# Assigning phase to check phase wise runs/Wickets

def assign_phase(over):
    if over <= 6:
        return 1   
    elif over < 16:
        return 2   
    else:
        return 3   

df["phase"] = df["over"].apply(assign_phase)

In [ ]:
#Most Runs in Each Phase 

for i in range (1,4):
    print("Phae",i,df[df["phase"]==i].groupby("batsman")["batsman_runs"].sum().sort_values(ascending=False).head(1))

Phae 1 batsman
S Dhawan    3776
Name: batsman_runs, dtype: int64
Phae 2 batsman
V Kohli    3737
Name: batsman_runs, dtype: int64
Phae 3 batsman
MS Dhoni    2786
Name: batsman_runs, dtype: int64

In [ ]:
#Most Wickets in each phase
for i in range (1,4):
    print("Phae",i,df[df["phase"]==i].groupby(["bowler"])["IsWicket"].sum().sort_values(ascending=False).head(1))

Phae 1 bowler
B Kumar    77
Name: IsWicket, dtype: int64
Phae 2 bowler
YS Chahal    144
Name: IsWicket, dtype: int64
Phae 3 bowler
DJ Bravo    115
Name: IsWicket, dtype: int64

In [32]:
# Highest Economy min 100 balls

for i in range(1,4):
    economy = df[df["phase"]==i].groupby("bowler")["batsman_runs"].agg(["sum", "count"])
    economy = economy[economy["count"] > 100]
    print("Phase",i,(economy["sum"] / (economy["count"] / 6)).sort_values(ascending=False).head(1))

Phase 1 bowler
DR Smith    9.567568
dtype: float64
Phase 2 bowler
R Parag    10.285714
dtype: float64
Phase 3 bowler
MP Stoinis    12.083916
dtype: float64

In [33]:
# Lowest Economy min 100 balls

for i in range(1,4):
    economy = df[df["phase"]==i].groupby("bowler")["batsman_runs"].agg(["sum", "count"])
    economy = economy[economy["count"] > 100]
    print("Phase",i,(economy["sum"] / (economy["count"] / 6)).sort_values().head(1))

Phase 1 bowler
SMSM Senanayake    4.976744
dtype: float64
Phase 2 bowler
MF Maharoof    5.37931
dtype: float64
Phase 3 bowler
M Pathirana    6.853333
dtype: float64

In [ ]:
# Most Runs for each team

teams = df["batting_team"].unique()
for team in teams:
    print("Team",team,df[df["batting_team"] == team].groupby(["batsman"])["batsman_runs"].sum().sort_values(ascending= False).head(1))

# Little Inefficient due to team name changes - Can be solved by renaming teams with name changes

Team Kolkata Knight Riders batsman
G Gambhir    3035
Name: batsman_runs, dtype: int64
Team Royal Challengers Bangalore batsman
V Kohli    7273
Name: batsman_runs, dtype: int64
Team Chennai Super Kings batsman
SK Raina    4695
Name: batsman_runs, dtype: int64
Team Kings XI Punjab batsman
SE Marsh    2489
Name: batsman_runs, dtype: int64
Team Rajasthan Royals batsman
SV Samson    3742
Name: batsman_runs, dtype: int64
Team Delhi Daredevils batsman
V Sehwag    2174
Name: batsman_runs, dtype: int64
Team Mumbai Indians batsman
RG Sharma    5460
Name: batsman_runs, dtype: int64
Team Deccan Chargers batsman
AC Gilchrist    1220
Name: batsman_runs, dtype: int64
Team Kochi Tuskers Kerala batsman
BB McCullum    357
Name: batsman_runs, dtype: int64
Team Pune Warriors batsman
RV Uthappa    1103
Name: batsman_runs, dtype: int64
Team Sunrisers Hyderabad batsman
DA Warner    4016
Name: batsman_runs, dtype: int64
Team Rising Pune Supergiants batsman
AM Rahane    480
Name: batsman_runs, dtype: int64
Team Gujarat Lions batsman
SK Raina    841
Name: batsman_runs, dtype: int64
Team Rising Pune Supergiant batsman
SPD Smith    472
Name: batsman_runs, dtype: int64
Team Delhi Capitals batsman
RR Pant    2049
Name: batsman_runs, dtype: int64
Team Punjab Kings batsman
S Dhawan    985
Name: batsman_runs, dtype: int64
Team Lucknow Super Giants batsman
KL Rahul    1410
Name: batsman_runs, dtype: int64
Team Gujarat Titans batsman
Shubman Gill    1799
Name: batsman_runs, dtype: int64
Team Royal Challengers Bengaluru batsman
V Kohli    741
Name: batsman_runs, dtype: int64

In [ ]:
# Most Wickets for each team

teams = df["bowling_team"].unique()
for team in teams:
    print("Team",team,df[df["bowling_team"] == team].groupby(["bowler"])["IsWicket"].sum().sort_values(ascending= False).head(1))

# Little Inefficient due to team name changes - Can be solved by renaming teams with name changes

Team Royal Challengers Bangalore bowler
YS Chahal    143
Name: IsWicket, dtype: int64
Team Kolkata Knight Riders bowler
SP Narine    200
Name: IsWicket, dtype: int64
Team Kings XI Punjab bowler
PP Chawla    89
Name: IsWicket, dtype: int64
Team Chennai Super Kings bowler
DJ Bravo    158
Name: IsWicket, dtype: int64
Team Delhi Daredevils bowler
A Mishra    91
Name: IsWicket, dtype: int64
Team Rajasthan Royals bowler
SK Trivedi    73
Name: IsWicket, dtype: int64
Team Mumbai Indians bowler
SL Malinga    188
Name: IsWicket, dtype: int64
Team Deccan Chargers bowler
PP Ojha    66
Name: IsWicket, dtype: int64
Team Kochi Tuskers Kerala bowler
R Vinay Kumar    17
Name: IsWicket, dtype: int64
Team Pune Warriors bowler
R Sharma    35
Name: IsWicket, dtype: int64
Team Sunrisers Hyderabad bowler
B Kumar    170
Name: IsWicket, dtype: int64
Team Rising Pune Supergiants bowler
AB Dinda    13
Name: IsWicket, dtype: int64
Team Gujarat Lions bowler
DS Kulkarni    23
Name: IsWicket, dtype: int64
Team Rising Pune Supergiant bowler
JD Unadkat    27
Name: IsWicket, dtype: int64
Team Delhi Capitals bowler
K Rabada    77
Name: IsWicket, dtype: int64
Team Punjab Kings bowler
Arshdeep Singh    70
Name: IsWicket, dtype: int64
Team Gujarat Titans bowler
Rashid Khan    58
Name: IsWicket, dtype: int64
Team Lucknow Super Giants bowler
Ravi Bishnoi    41
Name: IsWicket, dtype: int64
Team Royal Challengers Bengaluru bowler
Yash Dayal    16
Name: IsWicket, dtype: int64

In [49]:
def batsman_dismissal_type(batsman):
    print("Batsman:" , batsman,df[(df["batsman"] == batsman) & (df["IsWicket"] == 1)]["dismissal_kind"].value_counts())

batsman_dismissal_type("MS Dhoni")

Batsman: MS Dhoni dismissal_kind
caught               92
run out              25
bowled               20
lbw                   5
caught and bowled     4
stumped               3
Name: count, dtype: int64